.subtitle-detail {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 100%;
  position: absolute;
  background-color: rgba(56, 32, 57, 0.8);
  overflow: hidden;
}
.subtitle-detail h5, h6{
  color: whitesmoke;
  padding: 5px 10px 5px 10px;
  display: flex;
  margin: 0px;
}
.subtitle-detail h6{
  flex: 1;
  overflow: hidden;
  white-space: nowrap; /*estica o texto*/
  text-overflow: ellipsis; /*.. no final do texto*/
}