body {
  margin: 0px;
  font-family: "Open Sans";
  background-color: #d3c0d4;
}
a {
  text-decoration: none;
}

.gallery-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding-top: 50px;
}